@model JangaPetStore.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<form class="form" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <h2 class="form_title">Edit Product</h2>

    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StockQuantity"></label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group text-center">
        <label>Current Image</label>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div>
                <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 150px; height: auto;" />
            </div>
        }
        else
        {
            <p>No image available</p>
        }
    </div>

    <div class="form-group text-center" style="margin-left: 20%;">
        <input type="file" name="ImageFile" class="form-control-file" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
